@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 400;
}

html, body {
    overflow-x: hidden;
}

img {
    width: 100%
}

p {
    margin: 0;
    font-size: 1.5em
}

a {
    text-decoration: none;
    color: #000
}

li {
    list-style-type: none;
}

h1 {
    font-weight: bold;
}


.card {
    background-color: #2021240f;
    transition: transform .3s;
}

.card:hover {
    transform: translateY(-10px);
}


/* Types */

.types span {
    padding: 0 10px;
    height: fit-content;
    min-width: 75px;
    max-width: 100px;
}

.type {
    border-radius: 10px;
}

.type-bug {
    background-color: #729f3f;
    color: #fff;
}

.type-dragon {
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    color: #fff;
}

.type-fairy {
    background-color: #fdb9e9;;
    color: #000;
}

.type-fire {
    background-color: #fd7d24;
    color: #fff;
}

.type-ghost {
    background-color: #7b62a3;
    color: #fff;
}

.type-ground {
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);;
    color: #000;
}

.type-normal {
    background-color: #a4acaf;
    color: #000;
}

.type-psychic {
    background-color: #f366b9;
    color: #fff;
}

.type-steel {
    background-color: #9eb7b8;
    color: #000;
}

.type-dark {
    background-color: #707070;
    color: #fff;
}

.type-electric {
    background-color: #eed535;
    color: #000;
}

.type-fighting {
    background-color: #d56723;
    color: #fff;
}

.type-flying {
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    color: #000;
}

.type-grass {
    background-color: #9bcc50;
    color: #000;
}

.type-ice {
    background-color: #51c4e7;
    color: #fff;
}

.type-poison {
    background-color: #b97fc9;
    color: #fff;
}

.type-rock {
    background-color: #a38c21;
    color: #fff;
}

.type-water {
    background-color: #4592c4 ;
    color: #fff;
}

.type-poison {
    background-color: #b97fc9;
    color: #fff;
}

.type-grass {
    background-color: #9bcc50;
    color: #000;
}








/* ------------------- */

/* basic-info */
.poke-img {
    max-width: 350px;
    height: auto;
    object-fit: contain;
}

.basic-info h1 {
    font-weight: bold;
}

.id {
    font-size: 1.3em;
}

/* detail */
.detail p {
    font-size: 1.2em
}

.detail span {
    font-size: 1.3em;
    font-weight: bold;
}

.detail .description {
    font-size: 1.6em
}

.fa-mars {
    color: #0072b0;
}

.fa-venus {
    color: #dd2d51;
}

/* stats */

.stats table {
    background-color: antiquewhite;
    border-radius: 10px;
    width: 90%;
}

.stats td {
    padding: 7px;
    font-size: 1.4em;
}

.stat-hp {
    background-color: #FF0000;
}

.stat-attack {
    background-color: #f08030;
}

.stat-defense {
    background-color: #f8d030;
}

.stat-special-attack {
    background-color: #6890f0;
}

.stat-special-defense {
    background-color: #78c850;
}

.stat-speed {
    background-color: #f85888;
}

.stat-bar-bg {
    background-color: #fff;
    height: 10px;
}

.stat-bar {
    height: 10px;
    border-radius: 10px;
}

/* evolution chain */

.evolutionContainer {
    align-items: end;
}

.evolutionChain li.singlePath {
    width: 50%;
    margin: auto;
}

.evolutionChain li.singlePath:not(:last-child):after {
    font-family: 'Font Awesome\ 6 Free';
    font-weight: 900;
    content: '\f0d7';
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 2.2em
}

.evolutionChain ul.multiplePath li {
    display: flex;
    align-items: center;
}

.evolutionChain ul.multiplePath li:not(:last-child):after {
    font-family: 'Font Awesome\ 6 Free';
    font-weight: 900;
    content: '\f0da';
    display: flex;
    justify-content: center;
    margin: 0 30px;
    font-size: 2.2em
}

.evolutionChain ul.multiplePath {
    display: flex;
    justify-content: center;
    align-items: end;
}

.evolutionChain .specialCase {
    flex-direction: column;
    width: 40%;
}

.evolutionChain ul.multiplePath.specialCase li {
    display: block;
}

.evolutionChain ul.multiplePath.specialCase li:not(:last-child):after {
    content: '\f0d7';
}

/* filter */
.filter li {
    cursor: pointer;
}

/* advanced search */
.advancedSearch button {
    border: none;
    background-color: inherit;
}

.advancedSearch .pokeBall {
    width: 15px
}

.advancedSearch .generation li {
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
    width: 80px;
}

.advancedSearch .generation li.selected {
    background-color: #FFC107;
    border: 1px solid #FF9800;
    outline: 1px solid red;
}

.advancedSearch .typesFilter li {
    cursor: pointer;
    width: 80px;
}

.advancedSearch .typesFilter li.selected {
    outline-offset: 3px;
    outline: 2px solid #FF5722;
}


@media(min-width: 576px) {

    /* basic-info */
    .basic-info {
        text-align: initial;
    }

    /* evolution chain */
    .evolutionChain .specialCase {
        flex-direction: row;
        width: 60%;
    }
    
    .evolutionChain ul.multiplePath.specialCase li {
        display: flex;
    }
    
    .evolutionChain ul.multiplePath.specialCase li:not(:last-child):after {
        content: '\f0da';
    }
}

@media(min-width: 992px) {
    /* evolution chain */
    .evolutionChain li.singlePath {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0;
    }

    .evolutionChain li.singlePath:not(:last-child):after {
        content: '\f0da';
        margin-top: 0;
        margin-left: 30px;
    }
}